{% load static %}
<link rel="stylesheet" href="{% static 'rdv/css/boxicons.min.css' %}">

<form id="edit-user-form" method="post" action="{% url 'users:modifier_utilisateur', user.id %}" class="modern-form">
  {% csrf_token %}
  <h3 class="form-title">
    <i class='bx bxs-user-plus'></i> Modifier les infos de l'utilisateur
  </h3>

  {{ form.as_p }}

  <div class="form-actions">
    <button type="submit" class="btn-primary">
      <i class='bx bxs-save'></i>
      <span>Enregistrer</span>
    </button>
    <button type="button" class="btn-secondary modal-cancel">
      <i class='bx bxs-x-circle'></i>
      Annuler
    </button>
  </div>
</form>

