{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>profil User</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  
  <link rel="stylesheet" href="{% static 'rdv/css/admin/users/profil_user.css' %}">

  <!-- ICONES -->
  <link rel="stylesheet" href="{% static 'rdv/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/animations.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/transformations.css' %}">

  <link rel="stylesheet" href="{% static 'rdv/css/base.css' %}">

</head>

<body>

    {% include 'rdv/profil/profil_content.html' %}
    
</body>