{% load static %}

<link rel="stylesheet" href="{% static 'rdv/css/boxicons.min.css' %}">
<link rel="stylesheet" href="{% static 'rdv/css/notifs/notifs.css' %}">

<h3>
        <i class='bx bxs-bell'></i>
        <span>Notifications récentes</span>
    </h3>
    <ul class="notif-list">
      {% if notifications %}
        {% for notif in notifications %}
          <li class="notif-item {% if not notif.is_read %}unread{% endif %}">
            <div class="notif-header">
                {% if notif.type == 'info' %}
                      <i class='bx bxs-info-circle' ></i>
                  {% elif notif.type == 'success' %}
                      <i class='bx bxs-check-circle' ></i>
                  {% elif notif.type == 'warning' %}
                      <i class='bx bxs-exclamation-triangle' ></i>
                  {% elif notif.type == 'error' %}
                      <i class='bx bxs-x-circle' ></i>
                {% endif %}
              
              <span class="notif-date">{{ notif.date_envoi|date:"d/m/Y H:i" }}</span>
            </div>
            <p class="notif-message">{{ notif.message|truncatechars:80 }}</p>
          </li>
        {% endfor %}
      {% else %}
        <li class="notif-empty">Aucune notification récente.</li>
      {% endif %}
    </ul>
    <a href="{% url 'rdv:notifs' %}" class="btn-view-more">Voir toutes les notifications</a>
