<table class="data-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Patient</th>
                <th>Motif</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for rdv in rdvs %}
            <tr>
                <td>{{ rdv.date_heure_rdv|date:"d/m/Y" }}</td>
                <td>{{ rdv.date_heure_rdv|time:"H:i" }}</td>
                <td>{{ rdv.patient.user.nom }} {{ rdv.patient.user.prenom }}</td>
                <td>
                    {% if rdv.motif %}
                    {{ rdv.motif }}
                    {% else %}
                    Aucune information
                    {% endif %}
                </td>
                <td><span class="stat">{{ rdv.statut }}</span></td>
                <td>
                    <a href="{% url 'rdv:modifier_rendez_vous' rdv.id %}" class="action-btn-edit">
                        <i class="bx bxs-edit"></i>
                    </a>
                    <a href="{% url 'rdv:supprimer_rendez_vous' rdv.id %}" class="action-btn-delete">
                        <i class='bx bxs-trash-alt' aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" style="text-align:center; color:#6c757d;">Aucun Rendez-vous.</td>
                </tr>
            {% endfor %}
            </tbody>
</table>