{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dashboard{% endblock %}</title>


  <!-- ICONES -->
  <link rel="stylesheet" href="{% static 'rdv/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/animations.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/transformations.css' %}">

    <!-- FEUILLES DE STYLE GLOBALES -->
  <link rel="stylesheet" href="{% static 'rdv/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/doctor/doctor.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/doctor/rdvs.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/notifs/notifs.css' %}">



  <!-- COMPOSANTS -->
  <link rel="stylesheet" href="{% static 'rdv/css/composants/menu.css' %}">
  <link rel="stylesheet" href="{% static 'rdv/css/composants/card.css' %}">


  {% block extra_css %}{% endblock %}
</head>

<body>
  <div class="app-container">
    <div class="sidebar">
      <!-- Contenu de la sidebar -->
      <!-- NAV TABS -->
      {% block menu_block %}
      {% endblock %}
    </div>

      <!-- CONTENU PRINCIPAL (AJAX INJECTÉ) -->
    <div id="ajax-content">
        {% block content %}{% endblock %}

        {% block extra_js %}
        {{ block.super }}
          <script defer src="{% static 'rdv/js/admin/composants/menu.js' %}"></script>
      {% endblock %}

      <!-- SCRIPTS GLOBAUX & COMPOSANTS -->
      <script src="{% static 'rdv/js/boxicons.min.js' %}"></script>
      <script defer src="{% static 'rdv/js/doctor/base.js' %}"></script>         
    </div>
             
  </div>

</body>
</html>


